.vagrant
srcs/inventory-app/node_modules
srcs/inventory-app/package-lock.json
srcs/gateway-app/node_modules
srcs/gateway-app/package-lock.json
srcs/billing-app/node_modules
srcs/billing-app/package-lock.json